.container.main {
	max-width: 1920px;
	padding: 0px;
}

.header {
	background-image: url(../images/header-bg.png);
	background-position: 0px -548px;
	background-size: cover;
	padding: 20px 0px;
	background-repeat: no-repeat;
}

.header .container {
	max-width: 1360px;
}

.header .row {
	flex-wrap: nowrap;
	justify-content: space-between;
}

.logo {
	width: 300px;
}

.logo img {
	width: 100%;
}

.header .menu {
	padding-top: 27px;
}

.header .menu span {
	padding: 0px 12px;
}


h1.thanku {
	font-size: 42px;
	font-weight: 800;
	line-height: 42px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}





















.container.main .footer {
	background-color: #0b0d0e;
	font-family: 'Montserrat', sans-serif;
	padding: 65px 0px;
}

.container.main .footer .container {
	max-width: 1360px;
}


.container.main .footer .row {
	width: 100%;
}

.container.main .footer .logo-bttm {
	font-size: 14px;
	color: #767f84;
	max-width: 315px;
	margin: 15px 0px;
}

.container.main .footer .last-heading {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #ffffff;
}

.container.main .footer .last-heading.number {
	font-size: 22px;
	color: #eec400;
}

.container.main .footer .ques-pay {
	display: flex;
}

.container.main .footer .payment {
	padding-left: 50px;
}

.container.main .footer .ques-pay .method {
	display: flex;
	justify-content: space-between;
}


.container.main .footer .ques-pay .method .method-logo {
	margin: 0px 10px;
	width: 25px;
	height: 15px;
}

.container.main .footer .ques-pay .method .method-logo img {
	width: 100%;
	height: auto;
}

.container.main .footer ul.links {
	list-style-type: none;
	padding: 0px;
	margin-top: 70px;
}


.container.main .footer ul.links li a.items {
	font-size: 13.2px;
	font-weight: 500;
	color: #767f84;
}

.container.main .footer .divider {
	border-bottom: 1px solid #2c323f;
}

.container.main .footer .all-rights {
	font-size: 12px;
	font-weight: 500;
	color: #767f84;
}






























@media (max-width:1300px) {
	.header {
		padding: 20px 15px;
	}
}

@media (max-width:1199px) {
	.header {
		background-position: 0px -300px;
	}
}


@media (max-width:768px) {
	.header {
		background-position: 0px -150px;
	}
}

@media (max-width:600px) {
	.container.main .footer {
		padding: 50px 10px;
		padding-bottom: 25px;
	}
}


@media (max-width:500px) {
	.header {
		background-position: 0px -100px;
	}

	.logo {
		width: 170px;
	}

	.header .menu {
		padding-top: 7px;
	}

	h1.thanku {
		font-size: 28px;
		line-height: 32px;
	}

	.container.main .footer .ques-pay {
		flex-direction: column;
	}

	.container.main .footer .payment {
		padding-left: 0px;
	}

	.container.main .footer .ques-pay .method {
		justify-content: normal;
	}
} 
